/.build/
/_build/
/Build
/blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

MYMETA.*

/bin/seis
/bin/seis.c
/.build
/_build_params
!Build/
!META.json

/log*
/Seis-*
/roast/
/tempfile*

/Perl6-PVIP-*
/lib/Perl6/PVIP.c
